<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="chooserAndProbe()">
        <ion-label>chooser and probe</ion-label>
    </ion-button>

    <ion-button (click)="chooserAndExec()">
        <ion-label>chooser and exec</ion-label>
    </ion-button>

    <ion-button (click)="cameraAndProbe()">
        <ion-label>camera and probe</ion-label>
    </ion-button>

    <ion-button (click)="cameraAndExec()">
        <ion-label>camera and exec</ion-label>
    </ion-button>

    <ion-button (click)="advancedImagePickerAndProbe()">
        <ion-label>advanced image picker and probe</ion-label>
    </ion-button>

    <ion-button (click)="advancedImagePickerAndEncode()">
        <ion-label>advanced image picker and exec</ion-label>
    </ion-button>


    <!--  <picture>-->
    <!--    <source srcset="assets/Free_Test_Data.mp4" type="video/mp4">-->
    <!--    <img src="assets/Free_Test_Data.mp4" alt="An image of an explosion.">-->
    <!--  </picture>-->
    <!--  <video autoplay loop muted controls playsinline width="100%" src="assets/Free_Test_Data.mp4" type="video/mp4" crossorigin="anonymous"></video>-->

    <ion-card *ngIf="showVideoPreview">
        <ion-card-content>
            <!-- {{ encodedSrc }}-->
            <video autoplay controls muted playsinline width="100%">
                <source [src]="encodedSrc" type="video/mp4">
            </video>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="videoInformation">
        <ion-card-content>
            {{ videoInformation | json }}
        </ion-card-content>
    </ion-card>
</ion-content>
